body{
  box-sizing: border-box;
  margin: 0;
  font-size:100%;
}
.container{
  width:100%;
  display: flex;
  flex-direction: column;
}
a{
  text-decoration: none;
  color:#333;
}
.header-container{
  width:100%;
  background-color: #242424;
}
header{
  width:80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color:#ccccb3;
  font-family: 'Source Sans Pro', sans-serif;
}
header ul{
  font-size:13px;
}
header ul li{
  padding: 11px 5px;
}
.container ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
header ul li a{
  color:#ccccb3;
  font-weight: 600;
}
header input[type=text]{
  border:none;
  background-color: #242424;
  color:#8a8a8a;
  height:37px;
  outline: none;
  font-size:11px;
  font-weight: 600;
}
header button{
  background-color: #242424;
  border: none;
  color:#8a8a8a;
  height:37px;
  outline: none;
}
.mg-ul{
  margin-left:150px;
}
.search-style{
  padding:0;
  margin: 0px 5px;
}

.border-bg::before{
  content: "";
}
.border-bg{
  width:2px;
  height:auto;
  background-image: url(../images/border.png);
}
.header-hotline{
  font-size:14px;

  margin: 0px 10px;
}
.logo{
  background-color: #651110;
  text-align: center;
  display: flex;
  justify-content: center;
}
.img-rep{
  width:100%;
  margin:30px 0;
  max-width: 267px;

}
nav{
  font-size:100%;
  display: flex;
  justify-content: center;
  width:100%;
  background-color: #651110;
  font-family: 'Source Sans Pro', sans-serif;
}
.border-nav{
  width:100%;
  height:1px;
  background-image: url(../images/border-nav.png);
  background-color: #651110;
}
.border-nav1{
  width:100%;
  height:1px;
  background-color: #fff;
}
nav ul li{
  padding:12px 22px;

}
nav ul li a{
  color:#d6d6c2;
  font-weight: 500;
}

.fa-angle-left{
  font-size:60px;
  color:#fff;
}
.fa-angle-right{
  font-size:60px;
  color:#fff;
}
.slide{
  width:100%;
  position: relative;;
}
.img-repo{
  width:100%;
  height:auto;
  position: relative;
}
.img-content{
  position: absolute;
  top:calc(50% - 50px);
  left:calc(15% - 50px);
  display: flex;
  flex-direction: column;
  display: inline;
  color:#d6d6c2;
}

.img-title{
  padding: 15px 25px;
  background-color: #ab8e5f;
  display: inline;
  font-size:22px;
}
.img-txt{
  padding: 15px 25px;
  font-size:15px;
  background-color: #f3f0e6;
  color:#3d3d38;
  width:380px;
  margin-top:15px;
}
.left-pre{
  position: absolute;
  left:0;
  height:200px;
  width:200px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(50% - 100px);
  opacity: 0;
  transition: all 1s ease;
}
.left-pre:hover{
  opacity: 1;
}
.right-next{
  position: absolute;
  top: calc(50% - 100px);
  height:200px;
  width:200px;
  right:0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
}
.right-next:hover{
  opacity: 1;
}
.center-button{
  position: absolute;
  bottom:30px;
  left:-webkit-calc(50% - 50px);
  left:-moz-calc(50% - 50px);
  left:calc(50% - 50px);
}
.center-button ol {
  padding: 0;
  margin: 0;
}
.center-button ol li{
  list-style: none;
  float:left;
  margin: 0 5px;
}

.center-button ol li a{
  display: block;
  width:12px;
  height:12px;
  text-indent:-10000px;
  background-color: #fff;
  border-radius: 12px;
}
.center-button ol li a:hover{
  background-color: #651110;
}
.active{
  background-color: #651110 !important;
}
.content{
  width:80%;
  margin: 0 auto;

}
.tintuc{
  width:100%;
  border-bottom: 1px solid #d6d6c2;
  padding-bottom: 30px;
}

.tintuc-content{
  display:flex;
  flex-direction: row;
  text-align: center;
}
.tintuc-item{
  flex:25%;
  padding:0 15px;
}
.tintuc-item:first-child{
  padding-left: 0;
}
.tintuc-item:last-child{
  padding-right: 0;
}
.img-reposivie{
  width:100%;
  height:auto;
}
.sukien-duhoc{

  display: flex;
  border-bottom: 1px solid #d6d6c2;
}
.event{
  flex:25%;
}
.duhoc{
  flex:75%;
}
.event-content{
  display: flex;
  flex-direction: column;
}
.event-date{
  display: flex;
  flex:30%;
  flex-direction: column;
  font-size:0.6em;
}
.event-txt{
  flex:70%;
  padding-left: 15px;
  font-size:0.6em;
}
.event-date span:first-child{
  width: 100%;
  padding: 10px 0;
  background-color: #651110;
  text-align: center;
  border-width:1px 1px 0px 1px;
  border-style: solid;
  border-color: #651110;
  color:#fff;
}
.event-date span:last-child{
  width: 100%;
  padding: 10px 0;
  border-width:0 1px 1px 1px;
  border-style: solid;
  border-color: #ccccb3;
  text-align: center;
}
.event-txt p{
  font-size:14px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  color:#651110;
}
.event-txt span{
  color:gray;
}
.event-item{
  display: flex;
  padding-bottom: 30px;
}
.duhoc{

}
.duhoc-content{
  display:flex;
  flex-wrap: wrap;
}
.duhoc-item{
  flex:33.3333333%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-bottom: 20px;
  height:auto;
  position: relative;
}
.duhoc-title{
  padding: 5px 10px;
  position: absolute;
  bottom:40px;
  left:30px;
  color:white;
  font-weight: 600;
}
h2{
  font-weight: 500;
  font-size: 22px;
  color:#8a8a82;
}
.tintuc span{
  color:#5e5e5a;
}
.event-date span{
  color:#565653;
}
.duhoc h2{
  padding-left: 20px;

}
.reg-content{
  display:flex;
  justify-content: space-between;
  margin-top:30px;
  color:#e0e0d1 !important;
}
.reg-item{
  width:32%;
  color:#fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}
.reg-item h1{
  font-size: 120%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #d6d6c2;
  padding-bottom: 8px;
}
.reg-item span{
  margin-top:8px;
  font-size:12px;

  font-weight: 100;
}


.last-content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
.last-border{
  flex:28%;
  border-top: 1px solid #d6d6c2;
}
.last-title{
  flex:44%;
  padding: 0 15px;

  text-align: center;
}
.last-title h2{
  color:#4d4d4d;
}
.customer{
  display: flex;
  flex-direction: row;
}
.customer-item{
  display: flex;
  flex-direction: column;
  padding-right:10px;
}
.customer-item:last-child{
  padding-right: 0;
}
.customer-info{
  display: flex;
}
.customer-name{
  display: flex;
  flex-direction: column;
  padding-left:10px;
}
.customer-name h4{
  color:#6e1311;
  margin: 0;
  padding: 0;
}
.fa-telegram-plane{
  padding-left: 5px;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.customer-name span{
  font-size:14px;
  color:#808080;
}
.logo-university{
  width:100%;
  background-color: #f1f1f1;
  padding: 30px 0 ;
  margin-top:30px;
}
.university-content{
  width:80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}
.university-item{
  flex:1;
  padding: 0 15px;
}
.university-items{
  display: flex;
  width:100%;
  flex-wrap: wrap;
  padding: 0 30px;
  align-items: center;
}
.university-previous{
  display: flex;
  color:#fff;
  font-size:30px;
  align-items: center;
  justify-content: center;
}
.baotro-content{
  width:80%;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  margin-top:30px;
}
.baotro-header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.baotro-border{
  flex:35%;
  border-top: 1px solid #d6d6c2;
}
.logo-item{
  margin-top:30px;
  margin-bottom: 40px;
}
.baotro-title{
  flex:30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.baotro-logo{
  display: flex;
  justify-content: space-between;
  padding:0 100px;
  align-items: center;
}

.sb {
  font-size: 13pt;
  font-weight: 500;
  border-radius: 6px;
  display: block;
  padding: 20px 20px;
  position: relative;
  vertical-align: top;
  clear: both;
  border-style:dotted;
  border-color: #cccccc;

}

.sb::before {
  content: "\00a0";
  display: block;
  height: 12px;
  position: absolute;
  bottom: -10px;
  transform: rotate(-55deg) skew(-50deg);
  width: 26px;
  border-left: 2px dashed #cccccc;
  border-bottom: 2px dashed #cccccc;
}

.sb-0 {
  background-color: #ffffff;
  float: left;
  margin-bottom: 35px;
}

.sb-0::before {
  background-color: #ffffff;
  left: 20px;
}
.sb span{
  font-size:14px;
  color:#808080;
}

footer{
  width:100%;
  background-color: #242424;
  font-size:14px;
  padding-bottom: 15px;
}
.footer-content{
  width:80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.footer-item{
  width:45%;

}
.ft-right{
  display: flex;
  justify-content: space-between;
}
.item-top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.item-top ul{
  list-style-type: square;
  margin: 0;
  padding: 0;
  padding-left: 15px;
}
.item-top ul li {
  padding: 8px 10px;
  color:#8a8a82;
}
.item-top ul li a{
  color:#f2f2f2;
}
.tab-menu{
  display: flex;
  flex-direction: column;
}
.ft-right{
  justify-content: space-between;
}
.item-left{
  flex:40%;
  color:#f2f2f2;
}

.item-left h4{
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}
.item-left span{
  padding-bottom: 10px;
  font-size:14px;
  line-height: 25px;
}
.item-right{
  flex:40%;
  color:#f2f2f2;
}
.item-right span{
  float:right;
  width:100%;
  text-align: right;
}
.item-right h4{
  float:right;
}
.fa-facebook-f{
  font-size:24px;
  margin-right:20px;
}
.fllw{
  display:flex;
  align-items: center;
  justify-content: flex-end;
}
.logo-footer{
  margin-top: 80px;
  margin-bottom: 50px;
}
.input-email{
  margin-top:10px;
  padding: 10px 15px;
  background-color: #fff;
  align-items: center;
}
.item-left input{
  background-color: none;
  outline: none;
  border:none;
  font-weight: 600;
}
.fa-envelope{
  margin-right: 8px;
  color:#666666;
}
.item-left button{
  margin-top: 20px;
  padding: 5px 20px;
  color:#f2f2f2;
  background-color: #454545;
  border: none;
  border:1px solid #f2f2f2;
}
.tab{
  width:100%;
}
.tab button{
  background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s;
    font-size: 17px;
    color:#999999;
    border-bottom: 1px solid #666666;
    border-top:2px solid #242424;
    font-size:0.9em;
}
.tab button.active{
  border-top:2px solid #c42126;
  border-left:1px solid #666666;
  border-right:1px solid #666666;
  border-bottom:none;
  color:#f2f2f2;
  background: none !important;
}
.tabcontent{

  display: none;
  padding: 20px 20px;
  color:#f2f2f2;

}
.mg-sp{
  margin-right: 10px;
  margin-left: 10px;
}
.mg-sp:first-child{
  margin-left:0;
}
.tabcontent .fa-envelope{
  color:#f2f2f2;
}
.logo a{
  display: none;
  color:#fff;
}
@media only screen and (max-width: 800px) {
    header{
      display:none;
    }
    nav{
      display: none;
      transition: all 0.5s ease;
    }
    nav ul {
      display: flex;
      flex-direction: column;
    }
    .logo{
      display: flex;
      justify-content: space-between;

    }
    .logo img{
      padding-left: 30px;
    }
    .logo a{
      padding: 30px 30px;
      display: block;
      font-size:2em;
    }


    .tintuc-content{
      flex-direction: column;
    }
    .tintuc-item{
      padding: 0;
      margin-bottom: 10px;
    }
    .sukien-duhoc{
      flex-direction: column;
    }
    .duhoc-content{
      display: flex;
      flex-direction: column;
    }
    .duhoc h2{
      padding: 0;
    }
    .duhoc-item{
      padding: 0;
      width:100%;
    }
    .duhoc-item:last-child{
      margin-bottom:30px;
    }
    .reg-content{
      flex-direction: column;
    }
    .reg-item{
      width:100%;
    }
    .last-border{
      flex:10%;

    }
    .last-title{
      flex:80%;

    }
    .last-title h2{
      font-size:100%;
    }
    .customer{
      flex-direction: column;
    }
    .customer-item{
      margin-bottom: 20px;
    }
    .baotro-border{
      flex:20%
    }
    .baotro-title{
      flex:60%;
    }
    .baotro-title h2{
      font-size:100%;
    }
    .logo-item{
      width:100%;

    }
    .footer-content{
      flex-direction: column;
    }
    .footer-item{
      width:100% !important;
    }
    .ft-right{
      flex-direction: column;
    }
    .item-right{
      text-align: center;

    }
    .item-right span{
      float:none;
    }
    .item-right h4{
      float:none;
    }
    .item-left{
      text-align: center;
    }
    .item-left button{
      width:100%;
      margin-bottom: 10px;
    }
    .fllw{
      text-align: center;
      justify-content: center;
    }
    .reg-item h1{
      font-size:80%;
    }
    .reg-item span{
      padding: 0 5px;
    }
    nav{
      font-size:100%;
    }

}
@media only screen and (max-width: 402px) {
  .logo{
    flex-direction: row;

  }
  .logo-content{
    width:50%;
    padding-left:30px;
  }
  .logo a{
    font-size:1em;
  }
  .img-rep{

  }
  .logo img{
    padding: 0;

    height:auto;
  }
  .logo-ft{
    width:100%;
  }
  .slide{
    display:none;
  }

}
@media only screen and (max-width: 1045px) {
  .mg-ul{
    margin-left: 0 !important;
  }
  nav ul li{
    padding:10px 10px;
  }

  .duhoc-item{
    flex:50%;
  }
  .img-title{
    font-size:100%;
  }
  .img-txt{
    font-size:80%;
  }
}
@media only screen and (max-width: 859px) {
  header{
    display:none;
  }
  .center-button{
    bottom: 15px;
  }
  .event{
    flex:40%;
  }
  .duhoc{
    flex:60%;
  }
}
@media only screen and (max-width: 760px) {
  .img-content{
    display: none;
  }
  .baotro-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0;
  }
  .baotro-logo .img-reposivie{
    max-width:200px;
  }
}
